.modal-content {
    background-color: $modal-bg;

    .modal-body {
        height: 576px;

        .panel {
            &.panel--galaxy {
                .panel__inner {
                    background-color: #000011;
                }
            }
            
            &.panel--sector {
                .panel__inner {
                    background-color: #000011;
                }
            }
        }
    
        @import 'command';
    }
}
