body {
  background-color: #000;
}

.container {
  background-color: #fff;
  max-width: 1024px;
}

.unit {
  position: relative;
  height: 256px;
}

.unit-double {
  position: relative;
  height: 512px;
}