
// Main

$background: #000011;
$highlight: #002266;
$mainText: #ffffff;
$border: #ffffff;

// Alert Status
$bg-alert: #ff0000;
$fg-alert: #ffff00;

// Sector

$sectorCoord: #ffffff;
$sectorCell: #777777;

// Galaxy

$galaxyCoord: #777777;
$galaxyCell: #777777;
