
// Main

$background: #000011;
$highlight: #002266;
$mainText: #ffffff;
$border: #ffffff;

// Alert Status
$bg-alert: #ff0000;
$fg-alert: #ffff00;

// Unit

$bg-unit: #227700;

// Sector

$sectorCoord: #ffffff;
$sectorCell: #777777;

// Galaxy

$galaxyCoord: #777777;
$galaxyCell: #777777;
$galaxyCellCurrent-bg: #ffffff;
$galaxyCellCurrent-fg: $background;

// Viewer

$viewerBorder: #ffffff;
$viewerLayer: #0000110f;

// Messages

$bg-damage: #ffffff;
$fg-damage: $background;
$bg-science: #007700;
$fg-science: #aaaa22;
$bg-communications: #007700;
$fg-communications: #ffff00;
$bg-tactical: #003300;
$fg-tactical: #ff0000;

// Energy Levels
$energy25: #ff0000;
$energy50: #ff7700;
$energy75: #ffff00;
$energy100: #00aa00;
