@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  margin: 0;
  padding: 0;
  background-color: #001;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .container.container__game {
    max-width: 1024px;
    margin: 0 auto;
    color: #fff;

    @import 'unit/unit';
  }
}
