@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  margin: 0;
  padding: 0;
  background-color: #001;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .container.container__game {
    max-width: 1024px;
    margin: 0 auto;
    color: #fff;

    .unit {
      position: relative;
      height: 256px;
      padding: 0;

      h2, p {
        font-size: 14px;
        line-height: 16px;
      }

      h2 {
        margin-top: 4px;
        font-weight: bold;
      }

      .unit__inner {
        width: 250px;
        height: 250px;
        margin: 3px 3px;
        padding: 4px;
        border: 1px solid #fff; 
      }

      &.unit--tall {
        position: relative;
        height: 506px;

        >.unit__inner {
          height: 506px;
        }
      }

      &.unit--double {
        >.unit__inner {
          width: 506px;
        }
      }

      &.unit--badge {
        text-align: center;

        img {
          display: block;
          width: 128px;
          height: 128px;
          margin: 12px auto;
        }
      }

      &.unit--systems {
        text-align: center;

        table {
          width: 90%;
          margin: 0 auto;

          tr {
            td {
              text-align: left;
              font-size: 12px;
            }
          }
        }
      }

      .row {
        margin: 0;
      }
    }
  }
}
