.unit {
  position: relative;
  height: 256px;
  padding: 0;

  h2, p {
    font-size: 14px;
    line-height: 16px;
  }

  h2 {
    margin-top: 4px;
    font-weight: bold;
  }

  .unit__inner {
    width: 250px;
    height: 250px;
    margin: 3px 3px;
    padding: 4px;
    border: 1px solid #fff; 
  }

  &.unit--tall {
    position: relative;
    height: 506px;

    >.unit__inner {
      height: 506px;
    }
  }

  &.unit--double {
    >.unit__inner {
      width: 506px;
    }
  }

  @import 'badge';

  @import 'systems';

  .row {
    margin: 0;
  }
}
