&.panel--sector {
	table.table__sector {
		width: 216px;
		margin: 12px;
		padding: 0;

		tr {
			td {
				margin: 0;
				padding: 0;
				width: 24px;
				height: 24px;
				text-align: center;
				font-weight: bold;

				&.td__sectorCoord {
					color: $sectorCoord;
				}

				&.td__sectorCell {
					border-radius: 50%;
					color: $sectorCell;

					&.td__sectorCell--current {
						color: $sectorCellCurrent-fg;
						background-color: $sectorCellCurrent-bg;
					}

					&.td__sectorCell--clicky {
						cursor: pointer;
					}

					&.td__sectorCell--dest {
						color: $sectorCellDest-fg;
						background-color: $sectorCellDest-bg;
					}
				}
			}

			&.tr__sectorheading {
			}

			&.tr__sectorcontent {
				
			}
		}
	}
}
