&.unit--commands {
  table {
    tr {
      td {
        padding: 8px 0;
      }
    }
  }

  .unit__inner {
    background-color: $bg-unit;
  }

  .unit__inner--lasers {
    table {
      tr {
        td:first-child {
          width: 25%;
        }
        td:last-child {
          width: 75%;
        }
      }
    }
  }

  .unit__inner--commands {
    text-align: center;

    button {
      margin: 8px auto;
      width: 224px;
      height: 100px;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 40px;
    }
  }
}
