&.unit--status {
    .div__statusPanel {
        float: left;
        width: 112px;
        padding: 8px;
        margin: 4px;
        border: 1px solid $border;
        background-color: $highlight;

        span {
            font-weight: bold;
        }

        &.div__statusPanel--red {
            background-color: $bg-alert;
            color: $fg-alert;
        }

        &.div__statusPanel--alert {
            text-align: center;
        }

        &.div__statusPanel--warp,
        &.div__statusPanel--mongols {
                width: 132px;
        }

        &.div__statusPanel--torps {
            padding: 0;
            width: 92px;
            height: 92px;
        }
    }

    .div__gauge {
        float: left;
        width: 112px;
        height: 76px;
        padding: 8px;
        margin: 8px 4px;
    }
}
