.unit {
  position: relative;
  height: 256px;
  padding: 0;

  h2, p {
    font-size: 14px;
    line-height: 16px;
  }

  h2 {
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  table {
    width: 90%;
    margin: 0 auto;

    tr {
      td {
        font-size: 12px;
      }
    }
  }

  .unit__inner {
    width: 250px;
    height: 250px;
    margin: 3px 3px;
    padding: 4px;
    border: 1px solid #fff;

    &.unit__inner--short {
      height: 124px;
      margin-bottom: 2px;

      &:nth-child(2n+2) {
        margin-top: 1px;
      }
    }
  }

  &.unit--tall {
    position: relative;
    height: 506px;

    >.unit__inner {
      height: 506px;
    }
  }

  &.unit--double {
    >.unit__inner {
      width: 506px;
    }
  }

  @import 'badge';

  @import 'systems';

  @import 'commands';

  .row {
    margin: 0;
  }
}
