&.unit--viewer {
    .unit__inner {
        background-color: $bg-unit;
    }
        
    .block__viewScreen {
        position: relative;
        width: 224px;
        height: 168px;
        margin: 0 auto;
        border: 1px solid $viewerBorder;
        background-color: $background;

        .block__viewScreenLayer {
            position: absolute;
            top: 0;
            left: 0;
            width: 220px;
            height: 164px;
            margin: 1px;
            background-image: url('/img/starfield.png');

            &.block__viewScreenLayer--1 {
                z-index: 1;
                background-size: 100%;
            }

            &.block__viewScreenLayer--2 {
                z-index: 2;
                background-size: 150%;
            }

            &.block__viewScreenLayer--3 {
                z-index: 3;
                background-size: 200%;
            }

            &.block__viewScreenLayer--4 {
                z-index: 4;
                background-size: 300%;
            }
        }
    }
}
